<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>759230965822-ciitnedhb45eiqlcvfe9rvd48re4usgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.759230965822-ciitnedhb45eiqlcvfe9rvd48re4usgl</string>
	<key>API_KEY</key>
	<string>AIzaSyBgOlUTSKplP0gOC9kqJz65vePYOHapITQ</string>
	<key>GCM_SENDER_ID</key>
	<string>759230965822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile.herplan</string>
	<key>PROJECT_ID</key>
	<string>her-plan-345116</string>
	<key>STORAGE_BUCKET</key>
	<string>her-plan-345116.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:759230965822:ios:7af5245430921fe75b096f</string>
</dict>
</plist>