ion-avatar {
  --border-radius: 50%;
  border: 1px solid #eee;
  position: relative;
  @for $i from 10 through 120 {
    &.image-size-#{$i} {
      min-width: #{$i}px;
      min-height: #{$i}px;
      width: #{$i}px;
      height: #{$i}px;
    }
  }
  .spinner-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    ion-spinner {
      margin: auto;
    }
  }
}

.empty-img {
  background-color: var(--ion-color-tertiary);
  display: flex;
  width: 100%;
  height: 100%;
  ion-icon {
    fill: white;
    margin: auto;
    width: 24px;
    height: 24px;
  }
}
