#provider-search-page {
  ion-content {
    .provider-search-logo {
      width: 220px;
      height: 220px;
      margin: 48px auto auto auto;
    }

    .auth-container {
      display: flex;
      flex-direction: column;
      padding: 20px 28px;
      border-bottom: 1px solid #eee;
    }

    .provider-search-container {
      padding: 12px 28px;
      display: flex;
      flex-direction: column;
    }

    ion-button {
      &.login-btn {
        font-size: 14px;
        font-weight: 600;
        &::part(native) {
          padding: 0px;
        }
      }
    }
  }
}

.filter-search-modal {
  .leaf-container {
    display: flex;
    margin: auto;
    .custome-toggle-container {
      display: flex;
      background: #fafafa;
      border-radius: 8px;
      padding: 8px;
      margin-right: 4px;
      ion-icon {
        width: 21px;
        height: 21px;
        margin: auto 0 auto 8px;
      }
    }
  }
}
