.provider-item {
  --padding-start: 0px;
  --inner-padding-end: 0px;
  .item-name {
    font-size: 14px;
    margin: auto 0;
    font-weight: bold;
  }
  .provider-logo {
    margin: auto 8px auto 0;
    width: 16px;
    height: 16px;
  }
  .view-map-btn {
    margin: 0;
  }
  .more-btn {
    margin: auto;
  }
  .category-name {
    font-size: 11px;
    margin: 3px 0;
    color: var(--ion-color-success);
  }
}
